<!DOCTYPE html>
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		

		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<!-- google fonts -->
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans:regular,italic,bold,bolditalic"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nixie+One:regular,italic,bold,bolditalic"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+SC:regular,italic,bold,bolditalic"/>
		
		<!-- css -->
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/index-style.css" media="screen"/>

	</head>
	
	<body>

		<div id="drawer-right">
			<div class="cross text-right">
				<a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
			</div>
			<h2>Navigate</h2>
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#wrapper"><i class="fa fa-home"></i> Home</a>
					</li>
					<li>
						<a href="#portfolio"><i class="fa fa-bookmark"></i> Map</a>
					</li>
					<li>
						<a href="#services"><i class="fa fa-tasks"></i> Chatbot</a>
					</li>
					<li>
						<a href="#blog"><i class="fa fa-wordpress"></i> Translater</a>
					</li>
					<li>
						<a href="#parallax"><i class="fa fa-heart"></i> Quiz</a>
					</li>
					<li>
						<a href="#contact"><i class="fa fa-phone-square"></i> Contact</a>
					</li>
				</ul>
			</nav>
			<div class="social">
				<h2>Stay Connected</h2>
				<ul>
					<li><a href=""><i class="fa fa-facebook-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-twitter-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-tumblr-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-google-plus-square fa-3x"></i></a></li>
				</ul>
			</div>
		</div><!-- #drawer-right -->

		<div id="wrapper">
			
			<div id="header" class="content-block header-wrapper">
				<div class="header-wrapper-inner">
					<section class="top clearfix">
						<div class="pull-left">
							<div style="display: inline-block; transform: scale(0.2); margin:-250px -100px -300px -230px;	">
								<img src="../static/images/logo.png">
							</div>
							
						</div>
						<div class="pull-right">
							<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
						</div>
					</section>
					<section class="center">
						<div class="slogan">
							One Heritage  ,  Infinite Connections
						</div>

						<div class="secondary-slogan">
							 AI Uniting the Arab World.
						</div>
					</section>
					<section class="bottom">
						<a id="scrollToContent" href="#">
							<img src="../static/images/arrow_down.png">
						</a>
					</section>
				</div>
			</div><!-- header -->

			
			<div class="content-block" id="portfolio">
				<div class="container">
					<header class="block-heading cleafix">
					
						
						<h1 class="arabic-title">بسم الله الرحمن الرحيم</h1>

						<p>Take a look at some of our heritage</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(../static/images/rain_1-320x240.jpg)">
									<span class="btn btn-o-white">Learn more</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(../static/images/min_icons_thumb1-320x240.jpg)">
									<span class="btn btn-o-white">Learn more</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(../static/images/flat_icons_thumb.jpg)">
									<span class="btn btn-o-white">Learn more</span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(../static/images/wood-320x240.jpg)">
									<span class="btn btn-o-white">Learn more</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(../static/images/bike-320x240.jpg)">
									<span class="btn btn-o-white">Learn more</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(../static/images/six_1-320x240.jpg)">
									<span class="btn btn-o-white">Learn more</span>
								</a>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #portfolio -->


			<div class="content-block parallax" id="services">
				<div class="container text-center">
					<header class="block-heading">
						<h1>Our Services</h1>
						<p>Modern Technology for Timeless Heritage</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="service">
									<i class="fas fa-mosque"></i>
									<h2>Digital Preservation</h2>
									<p> AI-powered conservation of architectural and historical heritage</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<i class="fas fa-brain"></i>
									<h2>Cultural Intelligence</h2>
									<p>AI systems understanding the Arab historical context and assisting with translation. </p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<i class="fas fa-hands-helping"></i>
									<h2>Generational Bridge</h2>
									<p>Interactive platforms for youth cultural education quizzes </p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>


			
			<div class="content-block" id="testimonials">
				<div class="container">
					<header class="block-heading cleafix">
						<h1>Our Team </h1>
						<p>Some happy customers have to say.</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="testimonial">
									<img src="../static/images/testimonial_31-190x190.jpg">
									<strong>Mohamed aziz krouna</strong><br/>
									<span>Computer science student</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<img src="../static/images/testimonial_11-190x190.jpg">
									<strong>Ismail Bokri</strong><br/>
									<span>AI engineering Student </span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<img src="../static/images/testimonial_21-190x190.jpg">
									<strong>Alaa Fellah</strong><br/>
									<span>Computer science student</span>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- /#testimonials -->

			<div class="content-block parallax" id="parallax">
				<div class="container text-center">
					<br>
					<br>
					<br>
					<h1>Where modern technology reshapes our understanding of Arab heritage</h1>
					<br>
					<br>
					<br>
					<a href="" class="btn btn-o-white btn-lg">Get started</a>
				</div>
			</div><!-- #parallax -->



			<div class="content-block" id="contact">
				<div class="container text-center">
					<header class="block-heading cleafix">
						<h1>Contact Us</h1>
						<p>Feel free to drop us a line.</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<form class="" role="form">
									<div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="subject" placeholder="Your Name" required>
								  	</div>
								    <div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="exampleInputEmail2" placeholder="Enter email" required>
								    </div>
								    <div class="form-group">
								    	<textarea class="form-control form-control-white" placeholder="Write Something" required></textarea>
								    </div>
								  <input type="submit" class="btn btn-o-white" value="Say Hello">
								</form>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #contact -->




		</div><!--/#wrapper-->


		<script src="../static/js/jquery-2.1.3.min.js"></script>
		<script src="../static/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/jquery.actual.min.js"></script>
		<script src="../static/js/jquery.scrollTo.min.js"></script>
		<script src="../static/js/script.js"></script>

	</body>
</html>









