<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Survey</title>
    <link href="../static/css/quiz-style.css" rel="stylesheet">
</head>
<body>
    <div class="question-box">
        <img src="https://cdn-icons-png.flaticon.com/128/1362/1362534.png" class="decor-image p1" alt="p1">
        <img src="https://cdn-icons-png.flaticon.com/128/13566/13566541.png" class="decor-image p2" alt="p2">
        <img src="https://img.icons8.com/?size=100&id=tojjrobXyZtT&format=png&color=000000" class="decor-image p3" alt="p3">
        <img src="https://cdn-icons-png.flaticon.com/128/2276/2276743.png" class="decor-image p4" alt="p4">
        
        <h3>Question 6/10</h3>
        <h4>What was the famous language of the Islamic Golden Age, especially in science and philosophy??</h4>
        <a href="#" class="option" onclick="selectOption(this)">A. Persian</a>
        <a href="#" class="option" onclick="selectOption(this)">B. Greek</a>
        <a href="#" class="option" onclick="selectOption(this)">C. Latin</a>
        <a href="#" class="option" onclick="selectOption(this)">D. Arabic</a>
    </div>

    <script src="../static/js/quiz-app.js"></script>
</body>
</html>
